:root {
    --primary-text-colour: #434455;
    --title-text-colour: #2E2F42;
    --accent-colour: #4D5AE5;
    --hoover-color: #404BBF;
    --primary-bakground-color: #fff;
    --secondary-background-color: #F4F4FD;
    --portfolio-images-gap: 24px;
    --secondary-hover-color: #31D0AA;
    --company-color: #8E8F99;
    --modal-color: #FCFCFC;

    --validation:#4caf50;
    --invalidation:#f44336;

    --transition-duration: 250ms;
}

body {
    background-color: #fff;
    color: var(--primary-text-colour);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 1.5;
}

/**
  |============================
  | reset strart
  |============================
*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;

}

button {
    cursor: pointer
}

img {
    display: block;
    width: 100%;
}

.list {
    list-style: none;
}


/* logo */
.logo {
    margin-right: 76px;
     
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;

    text-decoration: none;
    color: var(--accent-colour);
    
}

.logo-studio {
    color: var(--title-text-colour)
}

/* header */

.header {
    /* position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0; */

    background-color: var(--primary-bakground-color);
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}




/* section common*/
.section-title {
    text-align: center;

    color: var(--title-text-colour);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}


/**
  |============================
  | Hero
  |============================
*/

.hero {
    padding: 112px 0;
    margin-left: auto;
    margin-right: auto;

    background-color: var(--title-text-colour);

    @media screen and (min-width: 1158px) {
        padding: 188px 0;
    }


}

.hero-headline {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;

    color: var(--primary-bakground-color);
    font-size: 36px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    @media screen and (min-width: 768px) {
        max-width: 496px;
        font-size: 56px;
    }

}

.button-service {
    display: block;
    margin: 0 auto;
    margin-top: 72px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    cursor: pointer;

    background-color: var(--accent-colour);
    color: var(--primary-bakground-color);
    font-family: "Roboto", sans-serif;
    border-color: transparent;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    transition-property: background-color;
    transition-duration: var(--transition-duration);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
        margin-top: 36px;
    }

    @media screen and (min-width: 1158px) {
        margin-top: 48px;
    }

}

.button-service:hover,
.button-service:focus {
    background-color: var(--hoover-color);
}

/**
  |============================
  | Feautures
  |============================
*/

.features {
    padding: 96px 0;

    @media screen and (min-width: 1158px) {
        padding: 120px 0;
    }
}

.features-headline {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.features-icons{
    display: none;


    @media screen and (min-width: 1158px){
        display: inline-block;
    }

}

.features-icon-flex {
    @media screen and (min-width: 1158px){
    display: flex;
    height: 112px;
    background-color: #F4F4FD;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 8px;
    }
}


.feature-list{
    width: 396px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        width: 736px;
        row-gap: 72px;
        column-gap:24px;
        align-items: flex-start;
    }

    @media screen and (min-width: 1158px){ 
        width: 1128px;
        gap: 24px;
        flex-wrap: nowrap;
    }
}

.feature-items{

    @media screen and (min-width: 768px){
        flex-basis: calc((100% - 24px) / 2);
    }

    @media screen and (min-width: 1158px){
    width: calc((100% - 72) / 4);
    }
}


.feature-items:not(:first-child) {

    @media screen and (max-width: 768px) {
    margin-top: 72px ;
    }
}

.features-items-headline {
    margin-bottom: 8px;

    color: var(--title-text-colour);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    @media screen and (max-width: 768px){
    text-align: center;
    }

    @media screen and (min-width: 1158px){
        font-weight: 500;
        font-size: 20px;
    }
}

.features-items-text {
    color: var(--primary-text-colour);
}








/**
  |============================
  | Modal
  |============================
*/

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;

    background-color: rgba(46, 47, 66, 0.4);

    opacity: 1;
    visibility: visible;
    pointer-events: initial;

    transition: opacity var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1), visibility var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scale(0) rotate(0);
    opacity: 0;
}

.modal{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%) scale(1) rotate(360deg);
    transition: transform var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1), 
    opacity var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);

    width: 408px;
    padding: 72px 24px 24px 24px ;
    min-height: 576px;
    opacity: 1;

    background-color: var(--modal-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal-button{
    position: absolute;
    top: 24px;
    right: 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 24px;
    height: 24px;
    margin-left: auto;
    cursor: pointer;
    
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
   

    color: black;

    transition: color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1), background-color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-button{
   fill: currentColor;
}

.modal-button:hover,
.modal-button:focus{
    background-color: var(--hoover-color);
    color: var(--primary-bakground-color);
}

.modal-text{

width: 360px;
margin-bottom: 16px;

text-align: center;
font-weight: 500;
font-size: 16px;
line-height: 24px;
}


.main-form{
    display: flex;
    flex-direction: column;
}

.form-element{
    margin-bottom: 8px;
}

.form-element-textarea{
    margin-bottom: 16px;
}

.modal-label{
display: block;
margin-bottom: 4px;
font-weight: 400;
font-size: 12px;
line-height: 1.16;
color: #8E8F99;
}

.input{
width: 360px;
height: 40px;
padding-left: 38px;

border: none;
outline: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;

transition: outline var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1)
}


.form-element input:focus{
    outline-color: var(--accent-colour);
}



.form-element input:focus + svg{
    fill: var(--accent-colour);
}

.input-textarea{
    display: block;

    resize: none;
    width: 360px;
    height: 120px;
    width: 360px;
    padding: 8px 16px;
    
    
    border: none;
    outline: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;

    transition: outline var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1)
}


.form-element input:focus + svg {
    fill: var(--accent-colour);
}


.input-textarea::placeholder{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    color: rgba(46, 47, 66, 0.4);
}

.form-element-textarea textarea:focus {
    outline-color: var(--accent-colour);
}

.form-element-textarea textarea:focus::placeholder {
    color: var(--accent-colour);
}

.modal-sudmit-button{
align-self:center;    
padding: 16px 32px;
width: 169px;
margin-top: 24px;

font-family: inherit;
font-weight: 500;

background: #4D5AE5;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: none;
color: var(--primary-bakground-color);

transition: background-color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-sudmit-button:hover,
.modal-sudmit-button:focus{
    background-color: var(--hoover-color);

}



/* modal icons */

.input-wrap {
    position: relative;
}

.modal-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    cursor: pointer;

    transition: fill var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1)
}


/* checkbox */

.modal-form-agreement{
    display: flex;
    align-items: center;
}

.modal-form-agreement-box{
    -moz-appearance: none;
        -webkit-appearance: none;
    appearance: none;

}


.agreement-link{
    text-decoration: underline;
    color: var(--accent-colour);
}
.modal-form-agreement-unchecked {
    opacity: 1;
transition: opacity var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);}


.modal-form-agreement-box:checked + .modal-form-agreement-icon > .modal-form-agreement-unchecked {
 opacity: 0;
}

.modal-form-agreement-checked{
    opacity: 0;
    transition: opacity var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
    
}

.modal-form-agreement-box:checked + .modal-form-agreement-icon > .modal-form-agreement-checked {
opacity: 1;
}

.modal-form-agreement-text{
    margin-left: 8px;
}

/* validation */

.input-personal-details:not(:placeholder-shown):required:valid {
    outline-color: var(--validation);
}

.input-personal-details:not(:placeholder-shown):required:invalid {
    outline-color: var(--invalidation);
}
